<div class="container">
  <div class="row">
    <div class="col text-center mt-5">
      <img
        src="img/dev-photos.png"
        class="img-thumbnail rounded-circle"
        style="object-fit: cover; height: 200px"
        width="200"
        alt="Ridwan Ikhsan"
      />
      <h1 class="display-4">Ridwan Nurul Ikhsan</h1>
      <p class="lead">Software Developer</p>
    </div>
  </div>
</div>
